/* -- Nav Style -- */

.navbar {
  background: black;
  color: rgb(230, 230, 230);
  min-height: 10vh;
}

.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
  color: rgb(230, 230, 230);
}

/* -- Header Style -- */

.jumbotron {
  text-align: center;
}

.jumbotron h3 {
  font-size: 24px;
}

/*-- Books & Search Styling -- */

.container-fluid {
  /* padding: 10px; */
}

.card {
  margin: 20px;
  margin-top: 30px;
  padding: 20px 10px;
}

.search-container {
  display: flex;
  justify-content: center;
}
